<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8"/>
    <title>Přidání nového autora položce</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
</head>
<body>
<div layout:fragment="page-content">
    <h3>Přidání nového autora položce</h3>

    <div class="card result-card"
         th:if="${result}">
        <div class="card-body"
             th:text="${result}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form id="new-author-form"
                          th:action="@{/item/{idItem}/addAuthor(idItem=${idItem})}"
                          th:method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="author">Napište jméno a příjmení autora nebo vyberte z listu</label>
                                    <input list="authors" name="author" id="author">
                                    <datalist id="authors">
                                        <th:block th:each="author: ${authors}">
                                            <option th:value="${author}">
                                        </th:block>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit">
                                    Přiřadit autora položce
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>