<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
<footer class="footer" th:fragment="footer">
    <div class="container-fluid">
        <div class="navbar-translate">
            <nav>
                <p class="copyright text-center">
                    Webová aplikace pro knihovnu
                    <script>
                        document.write(new Date().getFullYear().toString())
                    </script>
                </p>
            </nav>
        </div>
    </div>
</footer>
</body>
</html>