.navbar {
    width:100%;
    background-color: #cedef0;
}

.nav-link:hover {
    font-weight: bold;
}

.main-panel>.content {
    padding: 40px 30px;
}

.card-header {
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-column-gap: 15px;
    padding: 5px 10px;
    margin: 5px;
}

.authors-grid-container {
    grid-template-columns: 60px minmax(100px, 7fr) minmax(100px, 7fr) 120px;
    grid-template-areas: 'author-id-area author-name-area author-surname-area author-delete-area';
}

.clients-grid-container {
    grid-template-columns: 60px minmax(100px, 7fr) minmax(100px, 7fr) minmax(130px, 7fr) 150px 150px;
    grid-template-areas: 'client-id-area client-name-area client-surname-area client-email-area client-loans-area client-delete-area';
}

.loan-items-grid-container {
    grid-template-columns: minmax(150px, 7fr) minmax(60px, 7fr) 150px 150px 180px;
    grid-template-areas: 'loan-items-title-area loan-items-year-area loan-items-end-date-area loan-items-return-area loan-items-extend-area';
}


.grid-cell {
    align-self: center;
}


a, a:link {
    background-color: #cedef0;
    text-decoration: none;
    padding: 13px 30px;
    width: inherit;
    text-align: center;
    display: inline-block;
}

.btn-add, .count-of-loans, .btn-return {
    margin: 20px 0;
}

.result-card, .loan-state {
    margin-bottom: 20px;
}

.form-group, .client-loans {
    margin-bottom: 20px;
}

.form-error, .late-return {
    color: red;
}