<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8"/>
    <title>Výpůjčky uživatele</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
</head>
<body>
<div layout:fragment="page-content">
    <h3 th:unless="${client == null}"
        th:text="'Výpůjčky uživatele ' + ${client.name} + ' ' + ${client.surname}"></h3>
    <div class="count-of-loans" th:text="'Počet výpůjček: ' + ${#lists.size(client.clientLoans)}">
    </div>

    <div class="card result-card" th:if="${result}">
        <div class="card-body" th:text="${result}">
        </div>
    </div>

    <div class="row" th:if="${client.clientLoans.empty}">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    Klient si zatím nic nepůjčil.
                </div>
            </div>
        </div>
    </div>

    <form class="btn-add"
          th:action="@{'/client/' + ${client.idClient} + '/loans/new'}"
          th:method="get">
        <button type="submit">Vytvořit novou výpůjčku</button>
    </form>

    <div class="row" th:unless="${client.clientLoans.empty}">
        <div class="col-md-auto">
            <div class="card"
                 th:each="clientLoan : ${client.clientLoans}">
                <div class="card-body">
                    <div th:text="'Výpůjčka ze dne ' + ${clientLoan.dateToEuropeanTimeFormat(clientLoan.startDate)}">
                    </div>
                    <div th:text="'Počet položek: ' + ${#lists.size(clientLoan.itemsOfLoan)}">
                    </div>
                    <div class="loan-state"
                         th:text="'Stav výpůjčky: ' + ${clientLoan.translateState(clientLoan.state)}">
                    </div>
                    <form class="btn-return"
                          th:if="${clientLoan.state ==
                        T(com.lukasondrak.libraryinformationsystem.features.loan.LoanState).NOT_YET_RETURNED}"
                          th:action="@{'/client/' + ${client.idClient} + '/loan/' + ${clientLoan.idLoan} + '/return'}"
                          th:method="get">
                        <button type="submit">Vrátit všechny položky</button>
                    </form>

                    <form class="btn-delete"
                          th:action="@{'/client/' + ${client.idClient} + '/loan/'  + ${clientLoan.idLoan}}"
                          th:method="delete">
                        <button type="submit">Smazat výpůjčku</button>
                    </form>

                    <div class="card">
                        <div class="row">
                            <div class="card">
                                <div class="card-header grid-container loan-items-grid-container table-responsive scroll-tgr">
                                    <div class="grid-cell loan-items-title-area">
                                        <span class="text-bold">Název</span>
                                    </div>
                                    <div class="grid-cell loan-items-year-area">
                                        <span class="text-bold">Rok vydání</span>
                                    </div>
                                    <div class="grid-cell loan-items-end-date-area">
                                        <span class="text-bold">Vrátit do</span>
                                    </div>
                                    <div class="grid-cell loan-items-return-area">
                                        <span class="text-bold"></span>
                                    </div>
                                    <div class="grid-cell loan-items-extend-area">
                                        <span class="text-bold"></span>
                                    </div>
                                </div>

                                <div class="card-body" th:each="itemOfLoan : ${clientLoan.itemsOfLoan}">
                                    <div class="grid-stripped grid-container loan-items-grid-container table-responsive scroll-tgr same-height">

                                        <div class="grid-cell loan-items-title-area">
                                            <span class="header-text pull-left"
                                                  th:text="${itemOfLoan.item.title}"></span>
                                        </div>

                                        <div class="grid-cell loan-items-year-area">
                                            <span th:text="${itemOfLoan.item.yearOfPublication}"></span>
                                        </div>

                                        <div class="grid-cell loan-items-end-date-area">
                                            <span th:text="${clientLoan.dateToEuropeanTimeFormat(itemOfLoan.endDate)}"></span>
                                        </div>

                                        <div class="grid-cell loan-items-return-area"
                                             th:if="${itemOfLoan.state == T(com.lukasondrak.libraryinformationsystem.features.loan.LoanState).NOT_YET_RETURNED}">
                                            <form th:action="@{/client/{idClient}/loan/{idLoan}/item/{idItem}/return(idClient=${client.idClient},idLoan=${clientLoan.idLoan},idItem=${itemOfLoan.item.idItem})}"
                                                  th:method="get">
                                                <button type="submit">Vrátit</button>
                                            </form>
                                        </div>

                                        <div class="grid-cell loan-items-extend-area"
                                             th:if="${itemOfLoan.state == T(com.lukasondrak.libraryinformationsystem.features.loan.LoanState).NOT_YET_RETURNED}">
                                            <form th:action="@{/client/{idClient}/loan/{idLoan}/item/{idItem}/extend(idClient=${client.idClient},idLoan=${clientLoan.idLoan},idItem=${itemOfLoan.item.idItem})}"
                                                  th:method="get">
                                                <button type="submit">Prodloužit o 2 týdny</button>
                                            </form>
                                        </div>
                                        <div class="grid-cell loan-items-return-area"
                                             th:if="${itemOfLoan.state == T(com.lukasondrak.libraryinformationsystem.features.loan.LoanState).RETURNED_LATE}">
                                            <span th:text="'Již vráceno (po uplynutí limitu)'"></span>
                                        </div>
                                        <div class="grid-cell loan-items-return-area"
                                             th:if="${itemOfLoan.state == T(com.lukasondrak.libraryinformationsystem.features.loan.LoanState).RETURNED_ON_TIME}">
                                            <span th:text="'Již vráceno (včas)'"></span>
                                        </div>
                                        <div class="grid-cell loan-items-extend-area"
                                             th:if="${
                                             itemOfLoan.state == T(com.lukasondrak.libraryinformationsystem.features.loan.LoanState).RETURNED_ON_TIME ||
                                             itemOfLoan.state == T(com.lukasondrak.libraryinformationsystem.features.loan.LoanState).RETURNED_LATE}">
                                            <span></span>
                                        </div>
                                        <div class="grid-cell loan-items-remove-area">
                                            <form th:action="@{/client/{idClient}/loan/{idLoan}/item/{idItem}/(idClient=${client.idClient},idLoan=${clientLoan.idLoan},idItem=${itemOfLoan.item.idItem})}"
                                                  th:method="delete">
                                                <button type="submit">Odebrat položku z výpůjčky</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>