<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8"/>
    <title>Nový výpůjčka pro klienta</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
</head>
<body>
<div layout:fragment="page-content">
    <h3 th:unless="${client == null}"
        th:text="'Nová výpůjčka pro uživatele ' + ${client.name} + ' ' + ${client.surname}"></h3>

    <div class="card result-card"
         th:if="${result}">
        <div class="card-body"
             th:text="${result}">
        </div>
    </div>

    <div class="row" th:if="${client != null && loan != null && !items.empty}">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form id="new-author-form"
                          th:action="@{/client/{client.clientId}/loans/new}"
                          th:object="${loan}"
                          method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Půjčeno od</label>
                                    <input class="form-control"
                                           type="date"
                                           id="startDate"
                                           name="startDate"
                                           th:value="*{startDate}">
                                    <span
                                            class="form-error"
                                            th:if="${#fields.hasErrors('startDate')}"
                                            th:errors="*{startDate}">
                                        Start Date Error
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit">
                                    Vytvořit výpůjčku
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>